@using BlazorServer.Data.Helpers
@inherits LayoutComponentBase
@inject LoginSession loginSession

<PageTitle>BlazorServer</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            @if (loginSession?.currentUser?.username is not null)
            {
                <p> Welcome @loginSession.currentUser.username!</p>
            }
        </div>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {

    protected override void OnInitialized()
    {
        loginSession.OnLoginStatusChanged += NotifyStateChanged;
    }

    private void NotifyStateChanged() => InvokeAsync(StateHasChanged);

}