@page "/"
@using BlazorServer.Data.Helpers
@inject UserConnectionMapper mapper
@inject NavigationManager NavigationManager
@inject LoginSession loginSession;
@inject CookiesManager cookiesManager;

@if (loginSession.currentUser is null)
{
    <div class="form-group">
        <label>
            User:<input @bind="userInput" />
        </label>
    </div>

    <div class="form-group">
        <label>
            Password:<input @bind="passwordInput" />
        </label>
    </div>
    <button @onclick="Login">Login</button>
    <button @onclick="Register">Register</button>
}
else
{
    <div class="alert alert-info">
        <p>Welcome, @loginSession.currentUser.username</p>
    </div>
    <button @onclick="Logout">Logout</button>
}


@if (!string.IsNullOrEmpty(entryPageMessage))
{
    <div class="alert alert-info">
        @entryPageMessage
    </div>
}

@code {
    private string? userInput;
    private string? passwordInput;
    private string? entryPageMessage;


    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if(firstRender)
        {
            var session = await cookiesManager.GetCookie<LoginSession>("boring-media-cookie");
            if (session is not null)
            {
                loginSession.currentUser = session.currentUser;
                loginSession.IsUserLoggedIn = session.IsUserLoggedIn;
                StateHasChanged();
                loginSession?.IvokeMenuUpdate();
            }
        }
    }

    private async Task Login()
    {
        if (userInput is not null && passwordInput is not null)
        {                   
            if (loginSession.Login(userInput, passwordInput, mapper))
            {
                await cookiesManager.SetCookie<LoginSession>(loginSession, "boring-media-cookie");                  
                NavigationManager.NavigateTo("/chat"); // Redirect to chat page
            }
            else
            {
                entryPageMessage = "Login failed. Please check your credentials.";
            }
            CleanUp();
        }
    }

    private async Task Logout()
    {
        mapper.RemoveUser(loginSession?.currentUser?.username);
        loginSession?.Logout();
        await cookiesManager.DeleteCookie("boring-media-cookie");
    }

    private void Register()
    {
        if (userInput is not null && passwordInput is not null)
        {
            if (!loginSession.DoesUserExist(userInput))
            {
                loginSession.Register(userInput, passwordInput);
                CleanUp();
            }
            else
            {
                entryPageMessage = "The username is already taken";
            }
        }
    }

    private void CleanUp()
    {
        userInput = null;
        passwordInput = null;
    }

}

