@page "/chat"
@using BlazorServer.Data.Helpers
@using BlazorServer.Data.Models
@using Microsoft.AspNetCore.SignalR.Client
@inject LoginManager manager
@inject NavigationManager NavManager
@inject LoginSession loginSession
@inject CookiesManager cookiesManager


@if (_isLoading)
{
    <h1>Loading...</h1>
}
else if (loginSession?.currentUser?.username is null)
{

    <h1> You are not logged in</h1>    
}
else
{
    <div class="container-fluid">
        <div class="row">
            <!-- Left Column: Friend List -->
            <div class="col-md-4">
                <div class="friend-list">
                    <h3>Friends</h3>
                    <ul class="list-group">
                        @foreach (var user in manager.GetAllUsers())
                        {
                            <li class="list-group-item @(user.username.Equals(recipient?.username) ? "active" : "")" @onclick="() => RecipientSelected(user)">
                                @user.username
                            </li>
                        }                        
                    </ul>
                </div>
            </div>
            <!-- Right Column: Chat Box -->
            <div class="col-md-8">
                <div class="chat-box">
                    <h3>Chat with @recipient?.username</h3>

                    <ul>
                        @foreach (var message in GetFilteredMessages())
                        {
                            <li>@message.message</li>
                        }
                    </ul>

                    <div id="chat-messages">
                        <!-- Chat messages will appear here -->
                    </div>
                    <div class="input-group mt-3">
                        <textarea class="form-control" placeholder="Type your message" @bind="messageInput"></textarea>
                        <div class="input-group-append">
                         @*    <button class="btn btn-primary">Send</button> *@
                            <button @onclick="SendToUser" disabled="@(IsConnected==false)">Send to a user</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@code {
    private HubConnection? hubConnection;
    private List<Message> messages = new();
    private string? messageInput;
    // private string? recipientName;
    private bool _isLoading = true;

    private User? recipient;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if(firstRender)
        {     
            var session = await cookiesManager.GetCookie<LoginSession>("boring-media-cookie");
            if (session is not null)
            {
                loginSession.currentUser = session.currentUser;
                loginSession.IsUserLoggedIn = session.IsUserLoggedIn;
            }

            hubConnection = new HubConnectionBuilder()
                         .WithUrl(NavManager.ToAbsoluteUri("/chatHub")) //setup connection
                         .WithAutomaticReconnect()
                         .Build(); 

            hubConnection.On<Message>("ReceiveMessage", (message) => //listener for receive
            {
                messages.Add(message);
                InvokeAsync(StateHasChanged);
            });

            await hubConnection.StartAsync();
            manager.MapUserToConnection(await hubConnection.InvokeAsync<string>("GetConnectionId"),
            loginSession?.currentUser?.username);

            loginSession?.IvokeMenuUpdate();
            _isLoading = false;
            RecipientSelected(manager.GetAllUsers().First());
            StateHasChanged();
        }
    }

    private IEnumerable<Message> GetFilteredMessages()
    {
        if (recipient is null || loginSession?.currentUser is null)
        {
            return Enumerable.Empty<Message>();
        }

        return messages.Where(x =>
            (x.senderUserName.Equals(recipient.username) && x.recipientName.Equals(loginSession.currentUser.username)) ||
            (x.recipientName.Equals(recipient.username) && x.senderUserName.Equals(loginSession.currentUser.username))
        );
    }

    private async Task SendToUser()
    {
        if (recipient is null || loginSession?.currentUser is null) return;
        var recipientId = manager.GetConnectionId(recipient?.username);
        var currentId = manager.GetConnectionId(loginSession?.currentUser?.username);
        var recipientName= recipient?.username;
        var senderName = loginSession?.currentUser.username;

        if (recipientId is not null && currentId is not null && messageInput is not null
            && recipientName is not null && senderName is not null && hubConnection is not null)
        {
            var message = new Message(recipientId, currentId, recipientName, senderName, messageInput);

            await hubConnection.SendAsync("SendMessageToUser", message);        
        }
    }

    public bool IsConnected => hubConnection?.State == HubConnectionState.Connected;

    public async ValueTask DisposeAsync() // TODO do something like on close or something
    {
        if(hubConnection is not null)
        {
            await hubConnection.DisposeAsync();
        }
    }

    private void RecipientSelected(User selectedUser)
    {
        recipient= selectedUser;
        StateHasChanged();    
    }
}
